.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.carousel-section {
  position: relative;
}

.carousel {
  position: unset;
}

.carousel-img {
  margin: 0 15px;
  overflow: "hidden";
  padding-bottom: 2rem;
}

.carousel-img img {
  width: 100%;
  touch-action: none;
}

.react-multi-carousel-list {
  position: unset !important;
}

.custom-dot-list-style button {
  border-color: #eee8e0 !important;
  background: #eee8e0 !important;
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
  border-color: #f96635 !important;
  background: #f96635 !important;
}

.react-multiple-carousel__arrow {
  background: #f96635 !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(-6% + 1px) !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(-6% + 1px) !important;
}

@media (min-width: 768px) {
  .gallery {
    width: 70%;
    max-width: 1024px;
    padding: 80px 0;
  }
}